<!DOCTYPE html>
<html lang="en">
<head>
{{> head}}
</head>
<body>
    {{> header}} 
  
    <div id="page-content" class="container">
        <section id="project">
            <div class="row">
                <div class="col-sm-12">
                    <div class="project-content-area">
                        <div id="project-slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                {{#each body.images}}
                                {{#if active}}
                                <div class="item active">
                                {{else}}
                                <div class="item">
                                {{/if}}
                                    <img src="{{url}}" alt="{{title}}" />
                                </div>
                                {{/each}}
                            </div>
                            <a class="left carousel-control" href="#project-slider" role="button" data-slide="prev">
                                <span class="lnr lnr-chevron-left" aria-hidden="true"></span>
                            </a>
                            <a class="right carousel-control" href="#project-slider" role="button" data-slide="next">
                                <span class="lnr lnr-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>PROJECT INFO</h4>
                                <div class="project-info">
                                    <div class="info">
                                        <p><i class="lnr lnr-star"></i><span>Job: {{body.title}}</span></p>
                                    </div>
                                    <div class="info">
                                        <p><i class="lnr lnr-map"></i><span>Area: {{body.area}}</span></p>
                                    </div>
                                    <div class="info">
                                        <p><i class="lnr lnr-calendar-full"></i><span>Date: {{body.date}}</span></p>
                                    </div>
                                    <div class="info">
                                        <p><i class="lnr lnr-calendar-full"></i><span>Duration: {{body.duration}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h4>PROJECT DESCRIPTION</h4>
                                {{{body.content}}}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {{> footer}}
    {{> footerScripts}}
    <script src="/js/custom.js"></script>
    <script src="/js/jquery.shuffle.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
    $('.lightbox').each(function() {
        $(this).magnificPopup({
            delegate: 'a.open-gallery', 
            type: 'image',
            gallery: {
            enabled:true
            }
        });
    });
    </script>
</body>
</html>