{{#if head.title}}
<title>{{head.title}}</title>
{{else}}
<title>{{company.name}}</title>
{{/if}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{#if head.description}}
<meta name="description" content="{{head.description}}">
{{else}}
<meta name="description" content="{{company.name}}">
{{/if}}
<meta name="keywords" content="{{head.keywords}}" />
<meta name="author" content="{{head.author}}">
<link rel="icon" href="/images/favicon.png">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/animate.css" rel="stylesheet">
<link href="/css/magnific-popup.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800,900" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/css/linear-icons.css" rel="stylesheet" type="text/css">
<link href='/fonts/FontAwesome.otf' rel='stylesheet'>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->